<div class="min-h-screen flex flex-col">
  <main class="flex-grow container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold mb-6">サービス概要</h2>
    <p class="mb-8">サービスの概要を記述。</p>

    <h2 class="text-3xl font-bold mb-6">使い方</h2>
    <p class="mb-8">使い方の説明。</p>

    <div class="flex justify-center space-x-6">
      <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary bg-teal-500 hover:bg-teal-600 border-none text-xl py-3 px-6 shadow-lg' %>
      <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-secondary bg-teal-700 hover:bg-teal-800 border-none text-xl py-3 px-6 shadow-lg' %>
    </div>
  </main>
</div>
