<footer class="bg-gray-100 py-4">
    <div class="container mx-auto px-4 flex justify-between">
      <%= link_to '利用規約', '#', class: 'link' %>
      <%= link_to 'プライバシーポリシー', '#', class: 'link' %>
      <%= link_to 'お問い合わせ', '#', class: 'link' %>
    </div>
  </footer>